{% extends 'main/base.html' %}

{% block title %} Регистрация {% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}

    <div class="container-fluid">

        <div class="offset-md-4 col-md-4 offset-sm-3 col-sm-6">
            <div class="form-container">
                <h3 class="title">Создание аккаунта</h3>
                <ul class="social-links">
                    <li><a href="/login/vk-oauth2"><i class="fa-brands fa-vk"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                </ul>
                <span class="description">Или используйте email для регистрации:</span>

                <form class="form-horizontal">
                    {{ form.as_p }}
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>

                </form>
            </div>
        </div>

    </div>
</form>


{% endblock %}

